<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/nouma/IdeaProjects/SleniumTest">
        <classes>
            <class name="Pages.HomePage"></class>
            <class name="Pages.DashBoard"></class>
            <class name="Pages.objClass">
                <methods>
                    <include name="clickTBox"/>
                    <include name="TF_Name"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>